/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ROL]
      ,[NIT]
      ,[NOMBRE_DEUDOR]
      ,[FECHA_CORTE]
      ,[CODIGO]
      ,[INSTITUCION]
      ,[TIPO_INSTITUCION]
      ,[COD_DESTINO_BCR]
      ,[DESCRIPCION_DESTINO_BCR]
      ,[DEUDOR]
      ,[FECHA_CORTEN]
      ,[COD_INSTITUCION]
      ,[TIPO_CARTERA]
      ,[TIPO_FINANCIAMIENTO]
      ,RTRIM(LTRIM([NO_REFERENCIA])) NO_REFERENCIA
      ,[CLASIFICACION_RIESGO]
      ,[MONTO_OTORGADO]
      ,[SALDO_ADEUDADO]
      ,[SALDO_VENCIDO_CAPITAL]
      ,[SALDO_VIGENTE_INTERES]
      ,[SALDO_VENCIDO_INTERES]
      ,[SALDO_VIGENTE_CAPITAL]
      ,[DIAS_MORA_CAPITAL]
      ,[SALDO_MORA_CAPITAL]
      ,[DIAS_MORA_INTERES]
      ,[SALDO_MORA_INTERES]
      ,LTRIM(RTRIM([TIPO_PRESTAMO])) [TIPO_PRESTAMO]
      ,[TOTAL_RIESGO]
      ,[FECHA_OTORGADO]
      ,[FECHA_VENCIMIENTO]
      ,[FECHA_CASTIGO]
      ,[CATEGORIA]
      ,[ESTADO]
  FROM [DATA_EMPRESAS].[dbo].[SALDOS_COMPLETOS_SSF]
  where FECHA_CORTE is not null
  and year(fecha_corte) = 2020
--and ESTADO = 'Vigente'
--NOMBRE_DEUDOR like '%|%'
order by FECHA_CORTE, TIPO_INSTITUCION, INSTITUCION, TIPO_FINANCIAMIENTO, TIPO_PRESTAMO,
NIT, FECHA_OTORGADO desc
