/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ROL]
      ,rtrim(ltrim([NIT])) NIT
      ,rtrim(ltrim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace([NOMBRE_DEUDOR],'S.A. DE C.V.',''),'''',''),',',' '),'/',' '),'. .','.'),'-',' '),'SOCIEDAD ANONIMA DE CAPITAL VARIABLE',' '),'SOCIEDAD ANONIMA DE CAPITAL VARIAB',' '),'  ',' '),'SA DE CV',' '))) 
		NOMBRE_DEUDOR
      ,[FECHA_CORTE]
      ,[CODIGO]
      ,[INSTITUCION]
      ,[TIPO_INSTITUCION]
      ,rtrim(ltrim([COD_DESTINO_BCR])) [COD_DESTINO_BCR]
      ,rtrim(ltrim([DESCRIPCION_DESTINO_BCR])) [DESCRIPCION_DESTINO_BCR]
      ,[DEUDOR]
      ,[FECHA_CORTEN]
      ,[COD_INSTITUCION]
      ,[TIPO_CARTERA]
      ,rtrim(ltrim([TIPO_FINANCIAMIENTO])) [TIPO_FINANCIAMIENTO]
      ,rtrim(ltrim([NO_REFERENCIA])) [NO_REFERENCIA]
      ,[CLASIFICACION_RIESGO]
      ,[MONTO_OTORGADO]
      ,[SALDO_ADEUDADO]
      ,[SALDO_VENCIDO_CAPITAL]
      ,[SALDO_VIGENTE_INTERES]
      ,[SALDO_VENCIDO_INTERES]
      ,[SALDO_VIGENTE_CAPITAL]
      ,[DIAS_MORA_CAPITAL]
      ,[SALDO_MORA_CAPITAL]
      ,[DIAS_MORA_INTERES]
      ,[SALDO_MORA_INTERES]
      ,[TIPO_PRESTAMO]
      ,[TOTAL_RIESGO]
      ,[FECHA_OTORGADO]
      ,[FECHA_VENCIMIENTO]
      ,[FECHA_CASTIGO]
      ,[CATEGORIA]
      ,[ESTADO]
  FROM [DATA_EMPRESAS].[dbo].[SALDOS_COMPLETOS_SSF]
  WHERE YEAR(FECHA_CORTE) = 2020
  --and nit = '06142506941050'
  ORDER BY FECHA_CORTE, TIPO_INSTITUCION, INSTITUCION, NIT, ESTADO DESC, FECHA_OTORGADO DESC, SALDO_ADEUDADO DESC

  --CABECERA DE CSV
  --ROL,NIT,NOMBRE_DEUDOR,FECHA_CORTE,CODIGO,INSTITUCION,TIPO_INSTITUCION,COD_DESTINO_BCR,DESCRIPCION_DESTINO_BCR,TIPO_CARTERA,TIPO_FINANCIAMIENTO,NO_REFERENCIA,CLASIFICACION_RIESGO,MONTO_OTORGADO,SALDO_ADEUDADO,SALDO_VENCIDO_CAPITAL,SALDO_VIGENTE_INTERES,SALDO_VENCIDO_INTERES,SALDO_VIGENTE_CAPITAL,DIAS_MORA_CAPITAL,SALDO_MORA_CAPITAL,DIAS_MORA_INTERES,SALDO_MORA_INTERES,TIPO_PRESTAMO,TOTAL_RIESGO,FECHA_OTORGADO,FECHA_VENCIMIENTO,FECHA_CASTIGO,ESTADO